<h1>Existingng buttons</h1>

<table>
  <tr>
    <th>Background</th>
    <th>Border</th>
    <th>Color</th>
    <th>Borderadius</th>
    <th>Bordercolor</th>
    <th>Padding</th>
    <th>Text</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buttons.each do |button| %>
  <tr>
    <td><%= button.background %></td>
    <td><%= button.border %></td>
    <td><%= button.color %></td>
    <td><%= button.borderadius %></td>
    <td><%= button.bordercolor %></td>
    <td><%= button.padding %></td>
    <td><%= button.text %></td>
    <td><%= button.link %></td>
    <td><%= link_to 'Show', button %></td>
    <td><%= link_to 'Edit', edit_button_path(button) %></td>
    <td><%= link_to 'Destroy', button, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a New Button', new_button_path %>
