<p id="notice"><%= notice %></p>

<a href="<%= @button.link %>"><button style="background-color: <%= @button.background %>; border: <%= @button.border %>px solid <%= @button.bordercolor %>; padding: <%= @button.padding %>; color: <%= @button.color %>; border-radius: <%= @button.borderadius %>;"><%= @button.text %></a></button>

<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
