<br><center><p id="notice"><%= notice %></p><br></center>
<div class="span5">
	 <strong><%= button.user.full_name %></strong>
<center>
<b>This is how it will look</b>
<br>
<a href="<%= @button.link %>" style="color: <%= @button.color %>;"><button style="background-color: <%= @button.background %>; border: <%= @button.border %>px solid <%= @button.bordercolor %>; padding: <%= @button.padding %>px; color: <%= @button.color %>; border-radius: <%= @button.borderadius %>px;" target="_blank"><%= @button.text %></a></button>
</center></div>
<div class="span5"><center>
	<b>This is the code you need to embed on your website</b>
<p>&lt;a href="<%= @button.link %>" style="color: <%= @button.color %>;"&gt; &lt;button style="background-color: <%= @button.background %>; border: <%= @button.border %>px solid <%= @button.bordercolor %>; padding: <%= @button.padding %>px; color: <%= @button.color %>; border-radius: <%= @button.borderadius %>px;"&gt;<%= @button.text %>&lt;/a>&lt;/button&gt;</p><br>
<br><p>Copy and Paste</p>

<br>
<%= link_to 'Edit', edit_button_path(@button), :class => 'btn btn-primary' %> |
<a href="http://limitless-ocean-5518.herokuapp.com/" class="btn">Back</a>
</div></center>