<p id="notice"><%= notice %></p>

<p>
  <b>Background:</b>
  <%= @button.background %>
</p>

<p>
  <b>Border:</b>
  <%= @button.border %>
</p>

<p>
  <b>Color:</b>
  <%= @button.color %>
</p>

<p>
  <b>Borderadius:</b>
  <%= @button.borderadius %>
</p>

<p>
  <b>Bordercolor:</b>
  <%= @button.bordercolor %>
</p>

<p>
  <b>Padding:</b>
  <%= @button.padding %>
</p>

<p>
  <b>Text:</b>
  <%= @button.text %>
</p>

<p>
  <b>Link:</b>
  <%= @button.link %>
</p>


<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
