<%= form_for(@scaffold) do |f| %>
  <% if @scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scaffold.errors.count, "error") %> prohibited this scaffold from being saved:</h2>

      <ul>
      <% @scaffold.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :form %><br />
    <%= f.text_field :form %>
  </div>
  <div class="field">
    <%= f.label :textbox %><br />
    <%= f.text_field :textbox %>
  </div>
  <div class="field">
    <%= f.label :textarea %><br />
    <%= f.text_field :textarea %>
  </div>
 <b>Submit Button Code will be auto Generated</b>
  <div class="field">
    <%= f.label :dropdown %><br />
    <%= f.text_field :dropdown %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :radio %><br />
    <%= f.text_field :radio %>
  </div>
  <div class="field">
    <%= f.label :check %><br />
    <%= f.text_field :check %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
