<h1>Existing Forms</h1>
<br>
<table>
    <% @scaffolds.each do |scaffold| %>
  <tr>
    <div class="span3">
<button style="background-color: green; border: 1px solid black; padding: 5px; color: white; border-radius: 3px;"><b><%= link_to 'Create a New Form', new_scaffold_path, class: 'whitem' %>
</b></button>
    

  <br>
    <b>Form <%= scaffold.form %>: <br></b>
   <%= scaffold.textbox %>: &lt;input type="text" /&gt;
   <%= scaffold.textarea %>: &lt;input type="textarea" /&gt;
    
    <%= scaffold.dropdown %>
    <%= scaffold.value %>
    <%= scaffold.radio %>
    <%= scaffold.check %>
    &lt;input type="submit" value="<%= scaffold.submit %>"&gt;
    <b><%= link_to 'Preview Now!', scaffold %> </b>|
    <%= link_to 'Edit', edit_scaffold_path(scaffold) %> |
    <%= link_to 'Destroy', scaffold, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
</table>

<br />

