<h1>Existing Forms</h1>
<br>

     

    
<table>
   <% if user_signed_in? %>
<button style="background-color: green; border: 1px solid black; padding: 5px; color: white; border-radius: 3px;"><b><a href="http://limitless-ocean-5518.herokuapp.com/scaffolds/new" style="color: white;">Create a New Form</a>
</b></button>
<% else %>

  <% end %>
    <br>

    <% @scaffolds.each do |scaffold| %>
  <tr>
   <div class="span3">
  <br>
    <b>Form <%= scaffold.form %>: <br></b>
   Textbox: <%= scaffold.textbox %>: &lt;input type="text" /&gt;<br>
   Textarea: <%= scaffold.textarea %>: &lt;textarea&gt;&lt;/textarea&gt;
   Radio Button: &lt;input type="radio" name="<%= scaffold.radio %>" value="<%= scaffold.radio %>"&gt;<%= scaffold.radio %>&lt;/input&gt;<br>
   Checkbox: &lt;input type="checkbox" name="<%= scaffold.check %>" value="<%= scaffold.check %>"&gt;<%= scaffold.check %>&lt;/input&gt; <br>
   &lt;select&gt;
  &lt;option value="<%= scaffold.dropdown %>"&gt;<%= scaffold.dropdown %>&lt;/option&gt;
  &lt;option value="<%= scaffold.value %>"&gt;<%= scaffold.value %>&lt;/option&gt;
&lt;/select&gt;<br>
    &lt;input type="submit" value="Submit"&gt;
    <br>
    <b><%= link_to 'Preview Now!', scaffold %> </b>
    |
    <%= link_to 'Edit', edit_scaffold_path(scaffold) %> |
    <%= link_to 'Destroy', scaffold, method: :delete, data: { confirm: 'Are you sure?' } %>
    
  </tr>
<% end %>
</div>
</table>

<br />

