<br><p id="notice"><%= notice %></p>
<div class="span5"><center>
	This is how it will look:<br>
 <b>Form <%= @scaffold.form %>: <br></b>
   <%= @scaffold.textbox %>: <input type="text" /><br>
   <%= @scaffold.textarea %>: <textarea></textarea><br>
   Radio Button: <input type="radio" name="<%= @scaffold.radio %>" value="<%= @scaffold.radio %>"><%= @scaffold.radio %></input><br>
   Checkbox: <input type="checkbox" name="<%= @scaffold.check %>" value="<%= @scaffold.check %>"><%= @scaffold.check %></input><br>
   <select>
  <option value="<%= @scaffold.dropdown %>"><%= @scaffold.dropdown %></option>
  <option value="<%= @scaffold.value %>"><%= @scaffold.value %></option>
</select><br>
   <button class="btn btn-primary">Submit</button>
<br>
</div></center>
<div class="span5">
	<center>
		Copy and Paste the code given below:<br>
		Form <%= @scaffold.form %>: <br></b>
   Textbox: <%= @scaffold.textbox %>: &lt;input type="text" /&gt;<br>
   Textarea: <%= @scaffold.textarea %>: &lt;textarea&gt;&lt;/textarea&gt;
   Radio Button: &lt;input type="radio" name="<%=@scaffold.radio %>" value="<%=@scaffold.radio %>"&gt;<%=@scaffold.radio %>&lt;/input&gt;<br>
   Checkbox: &lt;input type="checkbox" name="<%=@scaffold.check %>" value="<%=@scaffold.check %>"&gt;<%=@scaffold.check %>&lt;/input&gt; <br>
   &lt;select&gt;
  &lt;option value="<%=@scaffold.dropdown %>"&gt;<%=@scaffold.dropdown %>&lt;/option&gt;
  &lt;option value="<%=@scaffold.value %>"&gt;<%=@scaffold.value %>&lt;/option&gt;
&lt;/select&gt;<br>
    &lt;input type="submit" value="Submit"&gt;
	

<%= link_to 'Edit', edit_scaffold_path(@scaffold), :class => 'btn btn-primary' %> |
<a href="http://limitless-ocean-5518.herokuapp.com/" class="btn">Back</a>
</div></center>
</center>
</div>