<p id="notice"><%= notice %></p>

 <b>Form <%= @scaffold.form %>: <br></b>
   <%= @scaffold.textbox %>: <input type="text" />
   <%= @scaffold.textarea %>: <input type="textarea" />

<p>
  <b>Submit:</b>
  <%= @scaffold.submit %>
</p>

<p>
  <b>Dropdown:</b>
  <%= @scaffold.dropdown %>
</p>

<p>
  <b>Value:</b>
  <%= @scaffold.value %>
</p>

<p>
  <b>Radio:</b>
  <%= @scaffold.radio %>
</p>

<p>
  <b>Check:</b>
  <%= @scaffold.check %>
</p>


<%= link_to 'Edit', edit_scaffold_path(@scaffold) %> |
<%= link_to 'Back', scaffolds_path %>
