<p id="notice"><%= notice %></p>

<p>
  <b>Form:</b>
  <%= @scaffold.form %>
</p>

<p>
  <b>Textbox:</b>
  <%= @scaffold.textbox %>
</p>

<p>
  <b>Textarea:</b>
  <%= @scaffold.textarea %>
</p>

<p>
  <b>Submit:</b>
  <%= @scaffold.submit %>
</p>

<p>
  <b>Dropdown:</b>
  <%= @scaffold.dropdown %>
</p>

<p>
  <b>Value:</b>
  <%= @scaffold.value %>
</p>

<p>
  <b>Radio:</b>
  <%= @scaffold.radio %>
</p>

<p>
  <b>Check:</b>
  <%= @scaffold.check %>
</p>


<%= link_to 'Edit', edit_scaffold_path(@scaffold) %> |
<%= link_to 'Back', scaffolds_path %>
