<p id="notice"><%= notice %></p>

<div id="overlaysecond">
<div><center>

<h3><%= @modal.header %></h3>
<h4>
<%= @modal.text %>
</h4>
<br>

<br><br>
<b><a href="#" onclick="overlayhidesecond()" class="btn-lg">Close</a></b>
</center>
</div></div>


<style>

#overlaysecond {
     
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;

}
#overlaysecond div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
border: 1px solid grey;
     
border-radius: 15px;
box-shadow: 10px 10px 5px #888888;
     padding:15px;
     text-align:center;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
background-color: #0088cc;
  border-radius: 6px;
}

</style>
<script type="text/javascript">


function overlayhide() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "hidden") ? "visible" : "hidden";

}
function overlayhidesecond() {
	el = document.getElementById("overlaysecond");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
function overlaysecond() {
	el = document.getElementById("overlaysecond");
	el.style.visibility = (el.style.visibility == "hidden") ? "visible" : "hidden";
}

</script>




<%= link_to 'Edit', edit_modal_path(@modal) %> |
<%= link_to 'Back', modals_path %>
