<p id="notice"><%= notice %></p>
<marquee style="background-color: <%= @textmarquee.background %>; color: <%= @textmarquee.color %>;">
<%= @textmarquee.text %></marquee>
&lt;marquee style="background-color: <%= @textmarquee.background %>; color: <%= @textmarquee.color %>;"&gt;
<%= @textmarquee.text %>&lt;/marquee&gt;


<%= link_to 'Edit', edit_textmarquee_path(@textmarquee) %> |
<a href="http://limitless-ocean-5518.herokuapp.com/">Back</a>
