<!DOCTYPE html>
<html>
<head>
  <title>CodeRR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-fixed-top">   
<div class="navbar-inner">    
<div class="container">
<br>

<img src="https://lh5.googleusercontent.com/FAT3ebEYTv9XUoFFujf1uIAFiV_1yi6_g7Abl1LpiGY=w180-h207-p-no" width="60" height=" 60" id="logo" class="box45">
<style>
.box45 {
   border-radius: 15px;
}
</style>
<title>CodeRR</title>
<b><font face="Curlz MT"><font size="6">Educate My Girl &lt;CodeRR&gt; App</font></font></b>
<ul class="nav pull-right">


 <a href="http://limitless-ocean-5518.herokuapp.com/" class="btn btn-primary">Home</a>
 <a href="http://www.educatemygirl.org/support.html" target="_blank" class="btn">Support Us</a>
 <% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>                  
    </ul>
</div></div></div>
</head>
<br><br><br>	<br><br><br>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>


</html>
